<!-- Navbar -->
  <nav class="navbar bg-dark navbar-dark">
        <div class="container">
          <div class="navbar-header">
                <h1 style="color: white; font-family:Verdana, Geneva, Tahoma, sans-serif;">One solution to all your travel needs..</h1>
        </div>
    </div>
  </nav>
      
      <!-- First Container -->
      <div class="container-fluid bg-1 text-center">
          <div class="row">
              <div class="col-md-6">
                    <h2>Gear-Ride</h2>
                    <h5 class="margin" style="font-family: cursive">Everyone's Private Driver</h5>
                    <!-- <img src="https://media.wired.com/photos/59b1a378a0df4b47dcf7ccb0/master/w_2560%2Cc_limit/LamborghiniRoadsterTA.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="350" height="350"> -->
                    <div id="demo" class="carousel slide" data-ride="carousel">

                            <!-- Indicators -->
                            <ul class="carousel-indicators">
                              <li data-target="#demo" data-slide-to="0" class="active"></li>
                              <li data-target="#demo" data-slide-to="1"></li>
                              <li data-target="#demo" data-slide-to="2"></li>
                            </ul>
                          
                            <!-- The slideshow -->
                            <div class="carousel-inner">
                              <div class="carousel-item active">
                                <img src="https://car-images.bauersecure.com/pagefiles/84674/2019bmwi8-roadster-01.jpg" alt="Los Angeles" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="600" height="350">
                              </div>
                              <div class="carousel-item">
                                <img src="https://cdn.pixabay.com/photo/2012/05/29/00/43/car-49278__340.jpg" alt="Chicago" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="600" height="350">
                              </div>
                              <div class="carousel-item">
                                <img src="https://www.autocar.co.uk/sites/autocar.co.uk/files/styles/body-image/public/911-road-3629a.jpg?itok=m6x23Go0" alt="New York" class="img-responsive img-circle margin" style="display:inline" alt="Bird" width="600" height="350">
                              </div>
                            </div>
                          
                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                              <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#demo" data-slide="next">
                              <span class="carousel-control-next-icon"></span>
                            </a>
                          
                          </div>
                    
              </div>
              <div class="col-md-6 center">
                    <h3>Please sign in to continue</h3>
                    <form>
                        <div class="form-group">
                            <label for="mobile">User ID</label>
                            <input type="text" class="form-control" id="mobile" placeholder="Contact Number">
                        </div>
                        <div class="form-group">
                            <label for="pwd">Password</label>
                            <input type="password" class="form-control" id="pwd" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-success btn-lg">Sign In</button>
                    </form>                    
                    <h5>Don't have an account? <a>Sign Up</a></h5>
              </div>
          </div>
        
      </div>
      
      <!-- Second Container -->
      <div class="container-fluid bg-2 text-center">
        <h1 class="margin">What's it about?</h1>
        <p>Good things happen when people can move, whether across town or towards their dreams.
                Opportunities appear, open up, become reality.
                What started as a way to tap a button to get a ride has led to billions of moments of human connection
                as people around the world go all kinds of places in all kinds of ways with the help of our technology.</p>
      </div>
      
      <!-- Third Container (Grid) -->
      <div class="container-fluid bg-3 text-center">    
        <h1 class="margin">What rides are on offer?</h1><br>
        <div class="row">
          <div class="col-sm-4">
            <h2>Cars</h2>
            <img src="https://www.autoblog.com/img/research/styles/photos/performance.jpg" class="img-responsive margin" style="width:100%" alt="Image">
          </div>
          <div class="col-sm-4"> 
            <h2>Bikes</h2>
            <img src="http://im.rediff.com/getahead/2018/jul/06kawasaki-ninja-h2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
          </div>
          <div class="col-sm-4"> 
            <h2>Autos</h2>
            <img src="https://www.olacabs.com/webstatic/img/fleet-image/auto.png" class="img-responsive margin" style="width:100%" alt="Image">
          </div>
        </div>
      </div>
      
      <!-- Footer -->
      <footer class="container-fluid bg-4 text-center">
        <p>An application developed by <a href="https://facebook.com/rishavjha2611">Rishav Jha</a></p> 
      </footer>

      