body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #060707;
  }
  p {font-size: 16px;}
  .margin {margin-bottom: 20px;}
  .bg-1 { 
    background-color: #f3f3f3; /* Green */
    color: #000000;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }
  .center {
    text-align: left;
    padding-top: 100px;
    padding-left: 150px;
  }
  .form-control {
    width: 70%;
}

.container {
  padding-left: 0%;
}

img {
  border-radius: 5px;
}

