
<app-header></app-header>
<div>
    <app-sidebar></app-sidebar>
    <div class="content">
        <H3>Edit your details</H3>
        <form>
            <div class="form-group">
                <label for="Name">Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="emailHelp"
                    placeholder="Name">
            </div>
            <div class="form-group">
                <label for="mobile">Mobile Phone</label>
                <input type="text" class="form-control" id="mobile" placeholder="Contact Number">
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <input type="email" class="form-control" id="email" placeholder="name@example.com">
            </div>
            <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control" id="gender">
                    <option>Male</option>
                    <option>Female</option>
                    <option>Other</option>
                </select>
            </div>
            <div class="form-group">
                <label for="dob">Date of Birth</label>
                <input type="text" class="form-control" id="dob" aria-describedby="emailHelp"
                    placeholder="dd/mm/yyyy">
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
</div>